.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
  }
  .login-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
  }
  .form_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    height: 100%;
   
  }
  
  .form_sec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0px;
    width: 100%;
  }

  .input{
    padding: 12px 6px;
    font-size: 12px;
    color: black;
    margin: 12px 0px;
    border: 1px solid #808080;
    outline: none;
    border-radius: 6px;
    
  }
  .submit-btn{
    background-color: #24a0ed;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    padding: 12px 32px;
    font-size: 16px;
    margin-top: 20px;
  }
  .form-title{
    font-size: 50px;
    letter-spacing: 1px;
    margin: 3px;
  }
  p{
    font-size: 12px ;
    letter-spacing: 1px;
  }
  .reg-sec{
    text-decoration: none;
  }

  
  .illustration-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 800px;
    min-height: 100%;
    background-color: #fffdf2;
  }
  .illustration-wrapper img {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .login-box {
      flex-direction: column;
      box-shadow: none;
    }
    .illustration-wrapper {
      max-width: 100%;
      min-height: auto;
    }
    #login-form {
      max-width: 100%;
    }
    .form_page{
      width: auto;
          }
  }

  @media (max-width:600px) {
    .illustration-wrapper{
      display: none;
    }
    .form_page{
width: 100%;
    }
    
  }